<footer class="mastfoot mt-5 text-center text-light">
  {{#unless isLoading}}
    
     {{/unless}}

   <div class="inner">
    <br>
        <p>Made with &hearts; by <a href="#/">CookUni</a>.</p>
    </div>

</footer>